#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

nav a {
    text-align: center;
    color: #AED6EA;
    text-decoration: none;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #E2EDF4;
}

header {
    background-color: #1C699C;
}

nav a:hover {
    background-color: #E2EDF4;
    color: #1C699C;
}

.home-title {
    color: #063460;
}

h4 {
    color: #063460;
}

.book,
.join {
    background-color: #AED6EA;
    color: #063460;
    text-decoration: underline;
}

.book:hover,
.join:hover {
    background-color: #1C699C;
    color: #E2EDF4;
}

#background {
    background-color: #063460;
}

.msg {
    background-color: #AED6EA;
}

.msg h2 {
    color: #063460;
}

.msg p {
    color: #063460;
}

footer {
    background-color: #AED6EA;
}

footer a {
    color: #063460;
    text-decoration: none;
}

footer a.external-link:hover {
    background-color: #1C699C;
    color: #E2EDF4;
}

.logo {
    width: 180px;
}

.icon {
    width: 60px;
}

#hero-img {
    width: 100%;
}

.card-img {
    width: 25%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.socialmedia {
    width: 80px;
}